<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <!-- ======= Header ======= -->
    <%- include('layouts/navbar'); -%>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <%- include('home'); -%>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <%- include('about'); -%>
      <!-- End About Section -->

      <!-- ======= Features Section ======= -->
      <%- include('features'); -%>
      <!-- End Features Section -->

      <!-- ======= Services Section ======= -->
      <%- include('service'); -%>
      <!-- ======= F.A.Q Section ======= -->
      <%- include('faq'); -%>
      <!-- End F.A.Q Section -->

      <!-- ======= Team Section ======= -->
      <%- include('team'); -%>
      <!-- End Team Section -->

      <!-- ======= Contact Section ======= -->
      <%- include('contact'); -%>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('layouts/footer'); -%>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <%- include('layouts/script'); -%>
  </body>
</html>
